[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:simonward87/nvim.git
	ignore = dirty
[submodule "config/alacritty/themes/k"]
	path = config/alacritty/themes/k
	url = git@github.com:simonward87/k.alacritty.git
[submodule "config/tmux/plugins/k"]
	path = config/tmux/plugins/k
	url = git@github.com:simonward87/k.tmux.git
